.error-message {
    color: red;
}

form a {
    margin-left: 5px;
}

.div-button {
    text-align: center;
    margin: 10px;
}

div.input-file {
    font-family: 'sans-serif';
    text-align: 'center';
    display: 'flex';
}